button {
  color: black;
  background-color: transparent;
  border-width: 4px;
  border-color: azure;
  border-radius: 2px;
  border: black 1px solid;
}

.chart {
  border-bottom: dashed royalblue 2px;
  margin-bottom: 15px;
  padding: 15px;
}