.platform-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.instruction-label{
    text-align: center;
    font-weight: bold;
}